In [ ]:
import nltk

In [ ]:
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
!pip install rouge

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting rouge
  Downloading rouge-1.0.1-py3-none-any.whl (13 kB)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from rouge) (1.16.0)
Installing collected packages: rouge
Successfully installed rouge-1.0.1

In [ ]:
import pandas as pd
import numpy as np

#from spacy.lang.en.stop_words import STOP_WORDS

from string import punctuation
from heapq import nlargest

from nltk.corpus import stopwords
l_stopwrds = nltk.corpus.stopwords.words("english")
l_stopwrds = l_stopwrds + ["cnn","CNN","u"]
l_stopwrds = l_stopwrds + ["say","said","new"] #frequent words

from string import punctuation as punct

import spacy

import rouge

In [ ]:
!pip install sumy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sumy
  Downloading sumy-0.11.0-py2.py3-none-any.whl (97 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 97.3/97.3 kB 3.6 MB/s eta 0:00:00
Collecting breadability>=0.1.20
  Downloading breadability-0.1.20.tar.gz (32 kB)
  Preparing metadata (setup.py) ... done
Collecting docopt<0.7,>=0.6.1
  Downloading docopt-0.6.2.tar.gz (25 kB)
  Preparing metadata (setup.py) ... done
Collecting pycountry>=18.2.23
  Downloading pycountry-22.3.5.tar.gz (10.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.1/10.1 MB 55.2 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.10/dist-packages (from sumy) (2.27.1)
Requirement already satisfied: nltk>=3.0.2 in /usr/local/lib/python3.10/dist-packages (from sumy) (3.8.1)
Requirement already satisfied: chardet in /usr/local/lib/python3.10/dist-packages (from breadability>=0.1.20->sumy) (4.0.0)
Requirement already satisfied: lxml>=2.0 in /usr/local/lib/python3.10/dist-packages (from breadability>=0.1.20->sumy) (4.9.2)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk>=3.0.2->sumy) (8.1.3)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk>=3.0.2->sumy) (2022.10.31)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk>=3.0.2->sumy) (4.65.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk>=3.0.2->sumy) (1.2.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from pycountry>=18.2.23->sumy) (67.7.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->sumy) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->sumy) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->sumy) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.7.0->sumy) (2022.12.7)
Building wheels for collected packages: breadability, docopt, pycountry
  Building wheel for breadability (setup.py) ... done
  Created wheel for breadability: filename=breadability-0.1.20-py2.py3-none-any.whl size=21709 sha256=76c33fb89e6e645707c0110bff512ffa8075eb96ce714cdfe9dc48bdaa71d7ca
  Stored in directory: /root/.cache/pip/wheels/64/22/90/b84fcc30e16598db20a0d41340616dbf9b1e82bbcc627b0b33
  Building wheel for docopt (setup.py) ... done
  Created wheel for docopt: filename=docopt-0.6.2-py2.py3-none-any.whl size=13721 sha256=cbe1262e6d005102ef1f38103daec35274002e6455614cd2366a23f00996b15a
  Stored in directory: /root/.cache/pip/wheels/fc/ab/d4/5da2067ac95b36618c629a5f93f809425700506f72c9732fac
  Building wheel for pycountry (pyproject.toml) ... done
  Created wheel for pycountry: filename=pycountry-22.3.5-py2.py3-none-any.whl size=10681847 sha256=29cc6b08212074f34f40bfb3e4985f2135d6ef78688ec86346c3f4c518940409
  Stored in directory: /root/.cache/pip/wheels/03/57/cc/290c5252ec97a6d78d36479a3c5e5ecc76318afcb241ad9dbe
Successfully built breadability docopt pycountry
Installing collected packages: docopt, pycountry, breadability, sumy
Successfully installed breadability-0.1.20 docopt-0.6.2 pycountry-22.3.5 sumy-0.11.0

In [ ]:
testd = pd.read_csv("/content/drive/MyDrive/miniproject/testd.csv",index_col="Unnamed: 0")
teste = pd.read_csv("/content/drive/MyDrive/miniproject/teste.csv",index_col="Unnamed: 0")

In [ ]:
from sumy.parsers.plaintext import PlaintextParser
from sumy.nlp.tokenizers import Tokenizer
from nltk.tokenize import sent_tokenize

text = testd['text'][0]

per = 0.3

# Creating text parser using tokenization
parser = PlaintextParser.from_string(testd['text'][0],Tokenizer("english"))

p = np.ceil(len(sent_tokenize(text)) * per)
if(p<3 and len(sent_tokenize(text))>3):
        p = np.ceil(len(sent_tokenize(text)) * per * 2)#for small text

from sumy.summarizers.text_rank import TextRankSummarizer

# Summarize using sumy TextRank
summarizer = TextRankSummarizer()
summary =summarizer(parser.document,p)

text_summary=""
for sentence in summary:
    text_summary+=str(sentence)

print(text_summary)

LONDON, England (Reuters) -- Harry Potter star Daniel Radcliffe gains access to a reported £20 million ($41.1 million) fortune as he turns 18 on Monday, but he insists the money won't cast a spell on him.Daniel Radcliffe as Harry Potter in "Harry Potter and the Order of the Phoenix" To the disappointment of gossip columnists around the world, the young actor says he has no plans to fritter his cash away on fast cars, drink and celebrity parties."I don't plan to be one of those people who, as soon as they turn 18, suddenly buy themselves a massive sports car collection or something similar," he told an Australian interviewer earlier this month.At 18, Radcliffe will be able to gamble in a casino, buy a drink in a pub or see the horror film "Hostel: Part II," currently six places below his number one movie on the UK box office chart.Radcliffe's earnings from the first five Potter films have been held in a trust fund which he has not been able to touch.Despite his growing fame and riches, the actor says he is keeping his feet firmly on the ground.His latest outing as the boy wizard in "Harry Potter and the Order of the Phoenix" is breaking records on both sides of the Atlantic and he will reprise the role in the last two films.Meanwhile, he is braced for even closer media scrutiny now that he's legally an adult: "I just think I'm going to be more sort of fair game," he told Reuters.

In [ ]:
from nltk.tokenize import sent_tokenize
sent_tokenize(testd['text'][0])

["LONDON, England (Reuters) -- Harry Potter star Daniel Radcliffe gains access to a reported £20 million ($41.1 million) fortune as he turns 18 on Monday, but he insists the money won't cast a spell on him.",
 'Daniel Radcliffe as Harry Potter in "Harry Potter and the Order of the Phoenix" To the disappointment of gossip columnists around the world, the young actor says he has no plans to fritter his cash away on fast cars, drink and celebrity parties.',
 '"I don\'t plan to be one of those people who, as soon as they turn 18, suddenly buy themselves a massive sports car collection or something similar," he told an Australian interviewer earlier this month.',
 '"I don\'t think I\'ll be particularly extravagant.',
 '"The things I like buying are things that cost about 10 pounds -- books and CDs and DVDs."',
 'At 18, Radcliffe will be able to gamble in a casino, buy a drink in a pub or see the horror film "Hostel: Part II," currently six places below his number one movie on the UK box office chart.',
 "Details of how he'll mark his landmark birthday are under wraps.",
 'His agent and publicist had no comment on his plans.',
 '"I\'ll definitely have some sort of party," he said in an interview.',
 '"Hopefully none of you will be reading about it."',
 "Radcliffe's earnings from the first five Potter films have been held in a trust fund which he has not been able to touch.",
 'Despite his growing fame and riches, the actor says he is keeping his feet firmly on the ground.',
 '"People are always looking to say \'kid star goes off the rails,\'" he told reporters last month.',
 '"But I try very hard not to go that way because it would be too easy for them."',
 'His latest outing as the boy wizard in "Harry Potter and the Order of the Phoenix" is breaking records on both sides of the Atlantic and he will reprise the role in the last two films.',
 "Watch I-Reporter give her review of Potter's latest » .",
 'There is life beyond Potter, however.',
 'The Londoner has filmed a TV movie called "My Boy Jack," about author Rudyard Kipling and his son, due for release later this year.',
 'He will also appear in "December Boys," an Australian film about four boys who escape an orphanage.',
 'Earlier this year, he made his stage debut playing a tortured teenager in Peter Shaffer\'s "Equus."',
 'Meanwhile, he is braced for even closer media scrutiny now that he\'s legally an adult: "I just think I\'m going to be more sort of fair game," he told Reuters.',
 'E-mail to a friend .',
 'Copyright 2007 Reuters.',
 'All rights reserved.This material may not be published, broadcast, rewritten, or redistributed.']

In [ ]:
from nltk.tokenize import sent_tokenize
for sentence in summary:
    print(sentence)

LONDON, England (Reuters) -- Harry Potter star Daniel Radcliffe gains access to a reported £20 million ($41.1 million) fortune as he turns 18 on Monday, but he insists the money won't cast a spell on him.
Daniel Radcliffe as Harry Potter in "Harry Potter and the Order of the Phoenix" To the disappointment of gossip columnists around the world, the young actor says he has no plans to fritter his cash away on fast cars, drink and celebrity parties.
"I don't plan to be one of those people who, as soon as they turn 18, suddenly buy themselves a massive sports car collection or something similar," he told an Australian interviewer earlier this month.
At 18, Radcliffe will be able to gamble in a casino, buy a drink in a pub or see the horror film "Hostel: Part II," currently six places below his number one movie on the UK box office chart.
Radcliffe's earnings from the first five Potter films have been held in a trust fund which he has not been able to touch.
Despite his growing fame and riches, the actor says he is keeping his feet firmly on the ground.
His latest outing as the boy wizard in "Harry Potter and the Order of the Phoenix" is breaking records on both sides of the Atlantic and he will reprise the role in the last two films.
Meanwhile, he is braced for even closer media scrutiny now that he's legally an adult: "I just think I'm going to be more sort of fair game," he told Reuters.

In [ ]:
#test set extractive by sumy 
def sumy_sum(text,per = 0.2):
    from sumy.parsers.plaintext import PlaintextParser
    from sumy.nlp.tokenizers import Tokenizer
    from sumy.summarizers.text_rank import TextRankSummarizer
    from nltk.tokenize import sent_tokenize

    p = np.ceil(len(sent_tokenize(text)) * per)

    parser = PlaintextParser.from_string(text,Tokenizer("english"))

    summarizer = TextRankSummarizer()
    summary = summarizer(parser.document,p)

    text_summary = 
    for sentence in summary:
        text_summary+=str(sentence)
    
    return text_summary

In [ ]:
testd['ey'] = testd['text'].apply(lambda x : sumy_sum(x,0.3))

In [ ]:
teste['ey'] = teste['text'].apply(lambda x : sumy_sum(x,0.3))

In [ ]:
testd

,text,y,text_clean,y_clean,ey
0,"LONDON, England (Reuters) -- Harry Potter star...",Harry Potter star Daniel Radcliffe gets £20M f...,london england reuters harry potter star danie...,harry potter star daniel radcliffe get 20m for...,"LONDON, England (Reuters) -- Harry Potter star..."
1,Editor's note: In our Behind the Scenes series...,Mentally ill inmates in Miami are housed on th...,editor note behind scene series correspondent ...,mentally ill inmate miami housed forgotten flo...,Editor's note: In our Behind the Scenes series...
2,"MINNEAPOLIS, Minnesota (CNN) -- Drivers who we...","NEW: ""I thought I was going to die,"" driver sa...",minneapolis minnesota driver minneapolis bridg...,thought going die driver man pickup truck fold...,"""The whole bridge from one side of the Mississ..."
3,WASHINGTON (CNN) -- Doctors removed five small...,"Five small polyps found during procedure; ""non...",washington doctor removed five small polyp pre...,five small polyp found procedure none worrisom...,WASHINGTON (CNN) -- Doctors removed five small...
4,(CNN) -- The National Football League has ind...,"NEW: NFL chief, Atlanta Falcons owner critical...",national football league indefinitely suspende...,nfl chief atlanta falcon owner critical michae...,"The suspension makes ""a strong statement that ..."
5,"BAGHDAD, Iraq (CNN) -- Dressed in a Superman s...","Parents beam with pride, can't stop from smili...",baghdad iraq dressed superman shirt 5yearold y...,parent beam pride cannot stop smiling outpouri...,"BAGHDAD, Iraq (CNN) -- Dressed in a Superman s..."
10,WASHINGTON (CNN) -- As he awaits a crucial pro...,President Bush to address the Veterans of Fore...,washington awaits crucial progress report iraq...,president bush address veteran foreign war wed...,WASHINGTON (CNN) -- As he awaits a crucial pro...
100,(CNN) -- The Tennessee Supreme Court on Wednes...,Mary Winkler convicted earlier this year of sh...,tennessee supreme court wednesday refused modi...,mary winkler convicted earlier year shooting h...,(CNN) -- The Tennessee Supreme Court on Wednes...
293,• The twins get a check-up (2/26/08) • VIDEO: ...,Pictures of Nancy Grace's twins .\nJohn David ...,twin get checkup 22608 video nancy grace intro...,picture nancy grace twin john david lucy eliza...,• The twins get a check-up (2/26/08) • VIDEO: ...
951,"BUENOS AIRES, Argentina (CNN) -- When Susana T...",Argentine woman vanished in 2002; it's believe...,buenos aire argentina susana trimarcofs daught...,argentine woman vanished 2002 believed forced ...,"BUENOS AIRES, Argentina (CNN) -- When Susana T..."
1000,"EDINBURGH, Scotland -- Hibernian have named fo...",Scottish club Hibernian appoint Finn Mixu Paat...,edinburgh scotland hibernian named former stri...,scottish club hibernian appoint finn mixu paat...,"EDINBURGH, Scotland -- Hibernian have named fo..."
1247,"(CNN Student News) -- On November 11, American...",Use this information to learn about the histor...,student news november 11 american pay tribute ...,use information learn history veteran day,"On the ""eleventh hour, of the eleventh day, of..."
1266,"You wanted to know more about greenwashing, an...",Scot Case answers your questions on greenwashi...,wanted know greenwashing scot case environment...,scot case answer question greenwashing green b...,This greener option is less expensive because ...
2485,(CNN) -- A man shot and killed seven patients ...,"Slain patients ranged in age from 78 to 98, di...",man shot killed seven patient nurse carthage n...,slain patient ranged age 78 98 district attorn...,(CNN) -- A man shot and killed seven patients ...
8843,(CNN) -- Tiger Woods apologized on Wednesday ...,"NEW: Tiger Woods apologizes for ""transgressio...",tiger wood apologized wednesday transgression ...,tiger wood apologizes transgression let family...,I have not been true to my values and the beha...
9838,(CNN) -- Nigeria joined Group C rivals Egypt i...,Nigeria joined Group C rivals Egypt in the qua...,nigeria joined group c rival egypt quarterfina...,nigeria joined group c rival egypt quarterfina...,Nigeria had enjoyed the majority of possession...
9998,(CNN) -- No matter the years she has been away...,Mine disaster shines spotlight on community st...,matter year away mile separate crystal role st...,mine disaster shine spotlight community steepe...,(CNN) -- No matter the years she has been away...

In [ ]:
teste

,text,y,ey
0,"Once upon a time, there was a young girl named...",Alice is a young girl who falls down a rabbit ...,"Once upon a time, there was a young girl named..."
1,"Once upon a time, in a small village nestled i...",Lily is a young girl who lives in a small vill...,"Once upon a time, in a small village nestled i..."
2,"Once upon a time, there was a young boy named ...","Jack, a young boy who loves exploring the fore...","One day, he stumbled upon a small, hidden cave..."
3,"Global warming, also referred to as climate ch...","Global warming, caused by human activities suc...","Global warming, also referred to as climate ch..."
4,Global warming refers to the long-term rise in...,Global warming is the long-term rise in the Ea...,Global warming refers to the long-term rise in...
5,Global warming refers to the long-term rise in...,Global warming is the long-term rise in the Ea...,Global warming refers to the long-term rise in...
6,"""Global warming is one of the most pressing is...",Global warming is a pressing issue due to huma...,The Earth's temperature has risen by 1 degree ...
7,"Presenter: Good afternoon, everyone. Today we'...",This webinar provides an overview of the basic...,Supervised Learning: learning from labeled dat...
8,Blockchain technology has been a hot topic in ...,"Dr. John Smith, a blockchain expert, discussed...",He discussed the current state of blockchain t...
9,"""The meeting began promptly at 10:00am with al...",The meeting started with the CFO presenting a ...,The first item on the agenda was the financial...
10,"""The meeting was called to order at 9:00 am by...",A meeting was held to discuss the company's fi...,The first item on the agenda was a report on t...